h1{
    color:red;
}
h3{
    background-color: blue;
    color: pink;
}
button{
    background-color: #ff009f;
    color:#000;
}
span{
    color:orangered;
}
span{
    float: left;
    font-size:30px;
}